* {
  box-sizing: border-box;
  /*border: 1px solid;*/
}

html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: 'Oswald', sans-serif;
	color: #222;
  margin: 0 0 70px;
}

a {
	text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

/* Backgrounds ----------------------------*/

.home-body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-body div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #555;
  background-size: cover;
  background-position: center center
}

.home-body div.active {
  z-index: 3;
}

.about-body,
.photography-body,
.contact-body {
  background: #555 url('../img/img_05.jpg') center;
  background-size: auto 110%;
  background-attachment: fixed;
}

/* Header ---------------------------------*/

.name a {
  color: #eee;
  text-shadow: 0 0 20px #000;
  font-weight: lighter;
  margin: 0;
}

.name a,
.main-nav a {
	display: block;
	text-align: center;
  padding: 10px;
  text-transform: uppercase;
}

.main-nav a,
.galleryName {
	color: #eee;
  text-shadow: 0 0 15px #000;
  letter-spacing: 1px;
}

.main-nav a:hover {
	color: #222;
  font-weight: bold;
  text-shadow: 0 0 5px #ccc;
}

.selected {
  text-decoration: underline;
}


/* Footer ------------------------------------*/

.main-footer {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  text-align: center;
  color: #ccc;
  margin-bottom: 1.5em;
  font-size: 0.75em;
  font-weight: 300;
  text-shadow: 0px 0px 5px #000;
}


/* PHOTOGRAPHY------------------------------*/

.gallery {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 4% 5%;
}

.thumb {
  flex-shrink: 1;
  background-color: rgba(226, 221, 218, 1);
  border: 10px solid rgba(226, 221, 218, 1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.thumb img {
  width: 100%;
}

.galleryName {
  margin: 8% 0 -3% 10%;
  width: 80%;
  font-weight: 300;
}


/* ABOUT, CONTACT---------------------------*/

.text {
  margin: 5%;
  color: #222;
  background-color: rgba(218, 212, 208, 0.65);
  padding: 0 2em;
  text-align: justify;
  font-weight: 300;
  border-radius: 1%;
  box-shadow: 0 0 20px #555;
}

.text a {
  color: #fff;
  padding: 5px;
}

.text p {
  padding-bottom: 3%;
}

.about {
  font-weight: normal;
  text-align: left;
  font-size: 1.8em;
  padding-top: 5%;
}


/* Media Queries -----------------------------*/

@media (max-width: 554px) {
  .thumb {
    -webkit-flex-basis: 44%;
    flex-basis: 44%;
  }

  .thumb:nth-child(1) {
    border-top-left-radius: 3%;
  }
  .thumb:nth-child(2) {
    border-top-right-radius: 3%;
  }
  .thumb:nth-child(3) {
    border-bottom-left-radius: 3%;
  }
  .thumb:nth-child(4) {
    border-bottom-right-radius: 3%;
  }

}

@media (min-width: 555px) {

	.main-header,
	.main-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
		display: flex;
	}

	.main-header {
    -webkit-flex-direction: column;
		flex-direction: column;
    -webkit-align-items: center;
		align-items: center;
	}

  .name {
    padding: 0;
    font-weight: 400;
  }

  .name a,
  .main-nav a {
    padding: 10px 20px;
  }

  .text {
    margin: 5% auto;
    max-width: 70%;
    font-size: 1.125em;
  }

  .gallery {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .thumb {
    height: 80px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3), 5px -5px 5px rgba(0, 0, 0, 0.3);
  }

  .thumb:nth-child(1) {
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
  }

  .thumb:nth-child(4) {
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
  }

  .thumb img {
    height: 100%;
    width: auto;
  }

  .thumb img:hover {
    box-shadow: 0 0 10px #555;
  }

  .galleryName {
    margin: 2% 0 -3% 5%;
  }

}

@media (max-width: 1099px) {
  .sl-wrapper .sl-image .sl-caption {
    font-size: 0.75em;
  }

}

@media (min-width: 1100px) {

	.main-header {
    -webkit-flex-direction: row;
		flex-direction: row;
    -webkit-justify-content: space-between;
		justify-content: space-between;
    margin: 0 2%;
	}

  .name a,
  .main-nav a {
    padding: 25px 25px;
  }

  #wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .text {
    flex-grow: grow;
    max-width: 500px;
    margin-top: 60px;
  }

  .about {
    padding: 0;
  }

  .gallery {
    margin: 3% 4% 2%;
  }

  .thumb {
    height: 86px;
  }

  .galleryName {
    margin: 2% 0 -2.5% 4%;
    font-weight: 400;
  }

  .main-footer {
    font-size: 1em;
  }

}

@media (min-width: 1900px) {

  .text {
    max-width: 720px;
    font-size: 1.4em;

  }

  .main-header {
    margin: 0 3%;
  }

  .name a,
  .main-nav a {
    font-size: 1.4em;
  }

  .gallery {
    margin: 2% 4% 1%;
  }

  .galleryName {
    margin: 1.5% 0 -1.5% 4%;
  }

  .thumb {
    height: 120px;
  }

  .container {
    padding-bottom: 1%;
  }

}

@media (min-width: 4000px) {

  .text {
    max-width: 1200px;
    font-size: 2.5em;
    margin: 7% auto;
  }

  .main-header {
    margin: 2% 7% 0;
  }

  .name a,
  .main-nav a,
  .galleryName {
    font-size: 2.5em;
  }

  .thumb {
    height: 220px;
    padding: 20px;
  }

  .gallery {
    margin: 2% 7.5%;
  }

  .galleryName {
    margin-left: 7.5%;
  }

  .main-footer {
    font-size: 2em;
  }

}
